*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    background-color: rgb(31, 30, 30);
}
a {
    color: black;
    text-decoration: none;
}
img {
    height: auto;
  }

.cover {
    position: relative;
    flex-direction: column;
    display: flex;
    margin-top: auto;
    flex-wrap: wrap;
    padding-top: 70px;
    padding-bottom: 50px;
    padding-left: 20%;
    padding-right: 20%;
    justify-content: left;

}
.box {
    margin-top: 40px;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 10px 7px  rgb(12, 7, 7);
    background-color: rgba(255, 255, 255, 0.952);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 13px;
    border-bottom-left-radius: 13px;
}
.imgboxside {
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    max-height: 400px;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}
.textboxside {
    
    flex-wrap: wrap;
    display: flex;
    padding: 20px 10px;
    border-radius: 13px;
    margin: 0.4% 2% ;
    background-color: rgba(2, 2, 2, 0.027);
    height: auto;
    max-height: 1000px;
    justify-content:space-between;
}
.imginde {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    box-shadow: -10px 10px 20px 0px rgba(235, 15, 15, 0.698);
    border: red solid 0.5px;
    background: url("img/arduino.png") no-repeat center center;

}
.imgSmall {

    width: 15%;
    height: auto;
    display: inline-block;
    box-shadow: -10px 10px 20px 0px rgba(235, 15, 15, 0.698);
    border: red solid 0.5px;
    position: relative;
}



.multicolortext {
    background-image: linear-gradient(to right, rgb(253, 216, 4), rgb(255, 136, 0),rgb(255, 38, 0),rgb(255, 0, 157),rgb(255, 0, 98) );
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}
.coverBar{
    position: absolute;
    padding: 2px;
    border: solid rgba(0, 0, 0, 0.733) 0.5px;
    display: flex;
    flex-wrap: wrap;
    height: 100px;
    width: 100%;
    top: -10px;
    left: -10px;
    justify-content: space-between;
}


.button {
    position: relative;
    border-radius: 13px;
    width: 150px;
    padding: 13px 7px;
    display: inline-block;
    text-decoration: none;
    color:rgb(168, 152, 152);
    transition: all 0.5s ease-in-out;
    font-weight: bold;
    font-size: 80%;
    background-color: rgba(63, 59, 59, 0.733);
    border: solid rgb(0, 0, 0) 0.2px;

 }
 .button:hover {
   transition: all 1s ease-in-out;
   box-shadow: 0px 0px 5px 0px  white;
   text-shadow: -4px 3px 10px rgb(184, 175, 175);

 }

.button01 {

    padding: 30px;
    border: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0);
    width: auto;
}
.button01:hover {
    box-shadow: 0px 0px 5px 0px  rgb(0, 0, 0);
    text-shadow: -4px 3px 10px rgb(255, 255, 255);
}
.coverFeet {
    margin-top: 50px;
    position: absolute;
    padding: 35px;
    border: solid rgba(32, 30, 30, 0.733) 0.5px;
    background: rgb(240, 234, 234);
    height: auto;
    width: 100%;
}
.boxFeet {
    padding: 2%;
    border: rgba(53, 51, 51, 0.602) solid;
    width: 100%;
}
.coverText {
    width: 100;
    padding: 2%;
}
.boxText {
    max-height: none;
    padding-top: 15%;
    padding-left: 20%;
    padding-right: 20%;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.13);
    color: rgba(255, 255, 255, 0.8);
    box-shadow: none;
    display:inline;
    font-size: 130%;
}
.boxText img {
    width: 60%;
}
.boxText h1 {
    text-align: left;
    color: rgb(224, 20, 207);
}
.boxText h3 {
	font-family: 'Montserrat', sans-serif;
}



textarea {
    resize: none;
    width: 40%;
    min-width: 500px;
    height: 200px;
    background-color: rgb(19, 19, 19);
    color: white;
    padding: 2%;
}
.hCode {
    font-family: Consolas, Courier New, monospace;
    background-color: #f5f5f51c;
    border: solid rgb(0, 0, 0) 1px;
    padding: 0px 5px 0px 5px;
}
.hCode::after {
    content: ">";
}
.hCode::before {
    content: "<";
}
