/*
    desing ispirato ad after hour, the weeknd
    molto scuro con una fioca luce tendende al rosso acceso
    scritte al neon con luci rosse
    

*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display+SC');
* {
    margin : 0px;
    padding: 0px;
    font: normal 10px 'Open Sans', sans-serif;
    
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration:underline;
    text-decoration-color: var(--color-titolo);
}
:root {
    --color-text: #000000;
    --color-background: #1A1A1A;
    --color-titolo: #FE002F;
    --transition: all 0.1s ease-in-out;
}   

.contenitoreProgetto {
   width: 30vh;
   height: 20vh;

   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   justify-content: flex-start;

   border-radius: 12px;
   background-color: var(--color-background);
   color: var(--color-text);


   border: solid black 2px; 
}

.titoloProgetto{

    width: 100%;
    height: 30%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    

    border: solid red;
} 
.titolo {
    width: auto;
    padding: auto;

    font-size: 30px;
    color: var(--color-titolo);

    transition: var(--transition);
    border: solid green;
}
.titolo:hover {

}

.informazioniProgetto {
    width: 100%;
    height: 100%;

    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: start;
    align-content: flex-start;


    border: solid rgb(4, 0, 255);
    
}
.informazioni {
    width: auto;
    padding: 10px;

    font-size: 13px;
    color: var(--color-text);

    transition: var(--transition);
    border: solid green;
}


/* 

   flex-direction: row;
   flex-wrap: nowrap;
   align-items: stretch;
   justify-content: flex-start;
   align-content: stretch;

   align-self: auto;

*/


/* footer code */

footer {
    width: 100%;
    position: absolute;
    bottom: 0px;
    background: linear-gradient(to right, rgb(59, 1, 1),  #000000);
    padding: 20px 0 10px;
    border-top-right-radius: 20px;
    font-size: 13px;
    line-height: 10px;

}
.row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col {
   flex-basis: 25%;
   padding: 10px;
}